<!-- FOOTER -->

<footer id="footer">
  <div class="" style="position:relative; bottom:0;">
    <a href="https://www.facebook.com/profile.php?id=100009264149547"> <i
        class="social-icon fab fa-facebook-f fa-2x"></i></a>
    <a href="twitter.com"><i class="social-icon fab fa-twitter fa-2x"></i></a>
    <a href="https://www.instagram.com/adi._agrawal/"><i class="social-icon fab fa-instagram fa-2x"></i></a>
    <a href="https://www.linkedin.com/in/aditya-agrawal-337213189"><i class="social-icon fas fa-envelope fa-2x"></i></a>
    <p>© Copyright 2021 MANITora</p>
  </div>
</footer>
<!-- <div class="footer-new">
  <div class="container-fluid">
    <i class="social-icon fab fa-facebook-f fa-2x"></i>
    <i class="social-icon fab fa-twitter fa-2x"></i>
    <i class="social-icon fab fa-instagram fa-2x"></i>
    <i class="social-icon fas fa-envelope fa-2x"></i>
    <p>© Copyright 2021 MANITora</p>
  </div>

</div> -->


</body>

</html>